body {
  background-color: black;
  color: white;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek,
    CircularSp-Deva, var(--fallback-fonts, sans-serif);

  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 90vh;
  margin-top: 10px;
}
.left {
  width: 23vw;
  /* height: 97vh; */
}
.right {
  background-color: #121212;
  width: 76.5vw;
  height: 97vh;
  overflow-y: hidden;
  position: relative;
}
.Home {
  height: 16vh;
  margin-top: 0;
  padding: 10px 0 0 0;
  background-color: #121212;
}
.library {
  height: 69.5vh;
  margin: 10px 10px 0px 10px;
  background-color: #121212;
  position: relative;
  overflow: overlay;
  flex-wrap: wrap;
}
.logo img {
  width: 120px;
  margin: 10px 0 8px 23px;
  padding: 7px 0 0px 0px;
}
.Home ul li {
  width: 21px;
  list-style: none;
  gap: 6px;
  margin: 15px 0 14px 30px;
  display: flex;
  gap: 20px;
}
.heading {
  width: 100%;
  gap: 10px;
  font-size: 10px;
  padding: 0 0 15px 0;
}
.heading img {
  width: 16px;
}
.heading img:hover {
  width: 19px;
}
.footer {
  display: flex;
  font-size: 10px;
  gap: 15px;
  position: absolute;
  bottom: 10px;
}
.footer a {
  font-style: normal;
  color: gray;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #141414;
  margin: 10px;
}
.header > * {
  padding: 20px 30px;
}
.spotify-playlist {
  padding: 15px;
}
.spotify-playlist .card {
  width: 210px;
  height: 300px;
  /* margin: 1px 0; */
  padding: 10px;
  background-color: hwb(0 10% 90%);
  overflow: hidden;
  position: relative;
}
.card{
  width: 40px;
}
.card:hover {
  transition: all 0.3s ease-in-out;
  background-color: #323232;
}
.card > * {
  padding: 5px 0 0 0;
}
.card p {
  color: #9e9e9e;
  opacity: 0.7;
  font-size: 13px;
}
.card img {
  width: 100%;
  object-fit: contain;
  height: 69%;
  border-radius: 8px;
}
.card img:hover {
  object-fit: cover;
  /* height:70% ; */
}
.cardcontainer {
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 75vh;
  margin-top: 10px;
  border-radius: 8px;
}
.play {
  width: 62px;
  display: flex;
  position: absolute;
  top: 168px;
  right: 21px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.play:hover {
  opacity: 1;
  top: 160px;
}
.buttons {
  display: flex;
  gap: 30px;
}
.signup {
  background-color: #12121200;
  color: rgb(162, 162, 162);
  caret-color: #1db954;
  padding: 10px;
  border: transparent;
  font-weight: bolder;
}
.signup:hover {
  color: white;
  /* padding: 15px; */
  cursor: pointer;
}
.Login {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  caret-color: #1db954;
  padding: 25px 50px;
  border-radius: 50px;
  border: transparent;
  font-weight: bold;
}
.Login:hover {
  background-color: #00ff59;
  padding: 24px 51px;
  /* font-weight: bolder; */
  cursor: pointer;
}
.playbar {
  background-color: #2b2b2b;
  width: 75vw;
  padding: 8px 7px;
  position: absolute;
  /* position:fixed; */
  border-radius: 11px;
  bottom: 12px;
  z-index: 1;
  left: 5px;
  height: 8%;
  justify-self: center;
}

.songbuttons {
  gap: 20px;
  margin-top: 18px;
  /* width: 30px; */
}
.songlist {
  width: 100%;
  display: flex;
  height: 80%;
  overflow-y: scroll;
  margin: 30px 0;
}
.songlist ul li {
  list-style-type: decimal;
  padding: 8px 68px 0 0;
  text-decoration: dotted;
  display: flex;
  gap: 12px;
  cursor: pointer;
  width: 97%;
  margin: 10px 0px 0px -1px;
  /* border: 1px solid; */
  overflow: hidden;
  background-color: hwb(0 11% 89%);
  border-radius: 15px;
  position: relative;
}
.songlist ul li a {
  text-decoration: dotted;
  color: #ffffff;
}
.songlist ul li:hover {
  width: 98%;
}
.songlist ul li .playnow {
  width: 30px;
  padding: 0 0 0 10px;
  position: absolute;
  right: 10px;
}
.info {
  font-size: 10px;
}
.mus {
  width: 30px;
  margin: 10px 0 10px 10px;
}
.seekbar {
  width: 94%;
  border: 1px solid rgb(0, 0, 0);
  height: 5px;
  display: flex;
  position: absolute;
  top: 10px;
  left: 3%;
  right: 3%;
  overflow: hidden;
  cursor: pointer;
}
.heading a {
  text-decoration: none;
  color: #ffffff;
}
.seekbar .progress {
  background-color: #5ffe38;
  height: 100%;
  position: relative;
  width: 2%;
  border-radius: 10px;
  transition: width 0s ease-in-out;
}
.songinfo {
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 55px;
  transition: left 1s ease-in-out;
}
.songtime {
  position: absolute;
  top: 55%;
  right: 20%;
}
.duration {
  position: absolute;
  top: 55%;
  right: 5%;
}
.ham{
  display:none;
}
.close{
  display:none;
}
.volume{
  position: absolute;
  right: 10px;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-around;
  /* width: 12%; */
  align-items: center;
  /* margin-right: 10px; */
}
.range{
  display: none;
}
@media (max-width: 1100px) {
  .play{
    top:250PX;
  }
  .play:hover{
    top: 240px;;
  }
  .left {
    width: 333px;
    position: absolute;
    left: -333px;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    background-color: black;
  }
  .left .library {
    height:75vh;
  }
  .right {
    width: 100vw;
    position: absolute;
    left: 0;
    transition: all 0s ease-in-out;
    margin-top: -11px;
    height: 99vh;
  }
  .header .nav img{
    opacity: 0;
  }
  
  .ham{
    transition: all 0.3s ease-in-out;
    display:block;
    width: 35px;
    margin: 0px 20px;
    padding: 0;
  }
  .playbar {
    width: 92vw;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height:15vh;
}
  .seekbar{
    left: 2%;
  }
  .close{
    display:block;
    width: 18px;
    position: absolute;
    right: 0px;
    /* padding: 0; */
    margin: 30px 3dvh;
    transition: all 0.3s ease-in-out;
  }
  .header .Login {
    /* width: 100px; */
    padding: 15px 20px;
    position: absolute;
    right: 24px;
    top: 10px;
}
  .header .signup {
    /* width: 100px; */
    margin-right:100px;
}
.songbuttons {
  gap: 11px;
  margin-top: 16px;
}
.songinfo {
  font-size: 9.5px;
  position: absolute;
  top:75%;
  left:1%;
  transition: left 0.3s ease-in-out;
}
.songtime {
  position: absolute;
  top:75%;
  right: 5%;
  transition: right 0.3s ease-in-out;
}
.cardcontainer {
  gap: 0px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 75vh;
  margin-top:5px;
  /* border-radius: 39px; */
  justify-content: center;
}

.card img {
  object-fit: contain;
   height: 86%;
}
.spotify-playlist .card {
    width: 333px;
    height: 100%;
    margin: 10px;
}
.volume{
  top: 25%;
  right: 20px; 
  width: 24%; 
  gap: 18px;
  transition:all 0.3s ease-in-out;
  flex-direction: column;
}
.range{
  transition:all 0.3s ease-in-out;
}
}
